{# ce fichier est : 'templates/website/layout.html.twig#}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="site-wrapper">
        {% include 'website/_partials/_navbar.html.twig' %}

        <main>
            {% block content %}{% endblock %}
        </main>

        {% include 'website/_partials/_footer.html.twig' %}
    </div>
{% endblock %}
