{# ce fichier est : 'templates/workshop/layout.html.twig#}

{% extends 'base.html.twig' %}

{% block body %}


    <div class="workshop-wrapper">
        {% include 'workshop/_partials/_topbar.html.twig' %}

        {# SUBNAV dans un block pour la rendre optionnelle #}
        {% block subnav %}
            {% include 'workshop/_partials/_subnav.html.twig' %}
        {% endblock %}

        <main class="workshop-content" data-turbo="false">
            {% block content %}{% endblock %}
        </main>
    </div>
{% endblock %}
