{% extends 'base.html.twig' %}

{% block body %}

    <div class="toast-container" id="main-toast-container">
        {# Flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                {{ component('Alert', {
                    type: label,
                    message: message|trans,
                    withIcon: true
                }) }}
            {% endfor %}
        {% endfor %}
    </div>

    <div class="workshop-wrapper">
        {% include 'workshop/_partials/_topbar.html.twig' %}

        {# SUBNAV dans un block pour la rendre optionnelle #}
        {% block subnav %}
            {% include 'workshop/_partials/_subnav.html.twig' %}
        {% endblock %}

        <main class="workshop-content" data-turbo="false">
            {% block content %}{% endblock %}
        </main>
    </div>
{% endblock %}
