:root {
    /* Couleurs principales */
    --color-primary: #FFB800;    /* Jaune Scénart */
    --color-bg-dark: #0A0A0A;   /* Noir de fond */
    --color-bg-card: #15151A;   /* Gris foncé des cartes/menus */
    --color-border: #222222;    /* Bordures subtiles */
    --container-width: 1400px;
    --container-padding: 50px;

    /* Couleurs de texte */
    --text-main: #FFFFFF;
    --text-muted: #888888;
    --text-dark: #000000;

    /* Espacements & Rayons */
    --transition: all 0.3s ease;

    --breakpoint-mobile: 640px;
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1024px;

}
