/* assets/styles/components/website/_footer.css */

.main-footer {
    background: var(--color-bg-dark); /* Même noir que la Nav */
    border-top: 1px solid var(--color-border);
    margin-top: 100px;
    width: 100%;
}

.footer-container {
    max-width: 1400px; /* Même largeur max que ta nav-container */
    margin: 0 auto;
    padding: 60px 50px; /* Aligné sur les 50px de ta Navbar */
}

.footer-content {
    display: flex;
    justify-content: flex-end; /* Pousse les colonnes vers la droite */
    gap: 100px; /* Grand espace entre les colonnes */
}

.footer-column h4 {
    color: var(--text-main);
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 25px;
}

.footer-column a {
    display: block;
    color: var(--text-muted);
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 12px;
    transition: var(--transition);
    font-weight: 500;
}

.footer-column a:hover {
    color: var(--color-primary);
    transform: translateX(3px);
}

/* --- Barre de Copyright (Style Top-Banner inversé) --- */
.footer-bottom-bar {
    background: #000; /* Noir pur ou très sombre */
    border-top: 1px solid var(--color-border);
    padding: 20px 0;
}

.bottom-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.footer-bottom-bar p {
    color: #444; /* Ton gris discret du screen */
    font-size: 12px;
    margin: 0;
}

.footer-bottom-bar .highlight {
    color: var(--text-muted);
    font-weight: 700;
}

.language-selector {
    display: flex;
    align-items: center;
    gap: 12px;
}

.language-selector i {
    color: #444;
    font-size: 13px;
}

.lang-links {
    display: flex;
    align-items: center;
    gap: 8px;
}

.lang-link {
    color: #444;
    text-decoration: none;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.5px;
    transition: var(--transition);
    text-transform: uppercase;
}

.lang-link:hover {
    color: var(--text-main);
}

.lang-link.active {
    color: var(--color-primary); /* Ton jaune Scénart */
}

.language-selector .separator {
    color: #222; /* Très sombre pour ne pas attirer l'oeil */
    font-size: 10px;
    font-weight: 300;
}

/* Ajustement pour que la barre de copyright reste bien alignée */
.bottom-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* Responsive */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
    }

    .bottom-flex {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}
