<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Scénart{% endblock %}</title>

    {% block favicon %}
        <link rel="icon" type="image/png" href="{{ asset('images/favicons/favicon.png') }}">
    {% endblock %}

    {# 1. APPEL DES JAVASCRIPTS ET PRELOADS (En premier) #}
    {% block javascripts %}
        {{ importmap('app') }}
    {% endblock %}

    {# 2. APPEL DES STYLES (En deuxième) #}
    {% block stylesheets %}{% endblock %}
</head>
<body>

{# Flash PHP — centré en haut #}
<div class="flash-container">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <twig:Alert :type="label" :message="message" />
        {% endfor %}
    {% endfor %}
</div>

{# Toast Stimulus — coin droit #}
<div id="toast-container" class="toast-container"></div>

{% block body %}{% endblock %}

</body>
</html>
